@page "/employee/edit/{employeeId}"
@using BlazorDemo.Server.Components

@inject IDepartmentService _departmentService
@inject IEmployeeService _employeeService
@inject NavigationManager _navigationManger


<section class="col-xl-6 offset-xl-2 offset-0 col-12">
    <h1 class="h1 mb-5">Edit employee</h1>
    <EditForm Model="_formModel" OnValidSubmit="HandleValidSubmit">
        <fieldset class="form-floating mb-3">
            <InputText class="form-control" D§isplayName="Name" @bind-Value="_formModel.Name" />
            <label class="form-label" for="Name">Name</label>
            <ValidationMessage For="() => _formModel.Name" />
        </fieldset>

        <fieldset class="form-floating mb-3">
            <InputText class="form-control" DisplayName="Email" @bind-Value="_formModel.Email" />
            <label class="form-label" for="Name">Email</label>
            <ValidationMessage For="() => _formModel.Email" />
        </fieldset>

        <fieldset class="form-floating mb-3">
            <InputNumber class="form-control" DisplayName="Salary" @bind-Value="_formModel.Salary" />
            <label class="form-label" for="Name">Salary</label>
            <ValidationMessage For="() => _formModel.Salary" />
        </fieldset>

        <fieldset class="form-floating mb-3">
            <InputDate class="form-control" DisplayName="DateOfBirth" @bind-Value="_formModel.DateOfBirth" />
            <label class="form-label" for="Name">DateOfBirth</label>
            <ValidationMessage For="() => _formModel.DateOfBirth" />
        </fieldset>

        <fieldset class="form-floating mb-3">
            <InputSelect class="form-control" DisplayName="DateOfBirth" @bind-Value="_formModel.Department">
                <option value="">Chose a department</option>
                @foreach (var department in _departments)
                {
                    <option value="@department">@department</option>
                }
            </InputSelect>
            <label class="form-label" for="Name">Department</label>
        </fieldset>

        <LoadingButton Text="Save Changes" />

        <DataAnnotationsValidator />
        <ValidationSummary />
    </EditForm>
</section>
@code {
    private EmployeeDTO _formModel = new();
    private IEnumerable<string> _departments = new List<string>();

    [Parameter]
    public string EmployeeId { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        _departments = (await _departmentService.GetDepartmentsAsync()).Select(dep => dep.Name);
        _formModel = await _employeeService.GetEmployeeByIdAsync(Guid.Parse(EmployeeId)) ?? new();
    }

    private async Task HandleValidSubmit()
    {
        _formModel = await _employeeService.EditEmployeeAsync(_formModel);
        await Task.Delay(1000);
        _navigationManger.NavigateTo("/employees");
    }
}