@page "/departments/edit/{departmentId}"
@inject HttpClient _httpClient
@inject NavigationManager _navigationManger


<section class="col-xl-6 offset-xl-2 offset-0 col-12">
    <h1 class="h1 mb-5">Edit employee</h1>
    <EditForm Model="_formModel">
        <fieldset class="form-floating mb-3">
            <InputText class="form-control" DisplayName="Name" @bind-Value="_formModel.Name" />
            <label class="form-label" for="Name">Name</label>
            <ValidationMessage For="() => _formModel.Name" />
        </fieldset>
        <LoadingButton Text="Save Changes" OnSubmit="HandleValidSubmit" />

        <DataAnnotationsValidator />
        <ValidationSummary />
    </EditForm>
</section>
@code {
    private DepartmentDTO _formModel = new();

    [Parameter]
    public string DepartmentId { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        _formModel = await _httpClient.GetFromJsonAsync<DepartmentDTO>($"department/{DepartmentId}") ?? new();
    }

    private async Task HandleValidSubmit()
    {
        var httpResponse = await _httpClient.PutAsJsonAsync($"department/{DepartmentId}", _formModel);
        await Task.Delay(1000);
        _navigationManger.NavigateTo("/departments");
    }
}